.Header__container{
  display: flex;
  align-items: center;
}

.SimpleHeader__container{
  height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.Header_item{
  font-size: 16px;
  line-height: 22px;
}

.Header__link{
  font-size: 16px;
  padding: 11px 7.5px;
  width: max-content;
}